body{
	font-family: 'Archivo', sans-serif;
	margin: 0 auto;
}
nav{
	background-color: #222931;
	width: 950px;
	height: 45px;
	margin: 0 auto;
	position: relative;
	top: 20px;
}
ul{
	position: relative;
	top: 14px;
}
.header{
	width: 100%;
	height: 100%;
}
.logo{
	position: relative;
	top: 20px;
	margin-left: 300px;
}
.banner1{
	margin-top: 60px;
	margin-left: 260px;
}
.banner2{
	margin-top: 60px;
	margin-left: 30px;
}
.banner3{
	margin-top: 60px;
	margin-left: 30px;
}
.balk{
	background-color: #ffe718;
	margin: 60px 0;
}
.balk>h1{
	font-size: 	34px;
	margin-left: 150px;
	padding: 50px;
}
span{
	font-size: 15px;
	margin-left: 20px;
}
.balk>button{
	background-color: white;
	border: none;
	padding: 12px 40px;
	position: absolute;
	left: 1000px;
	top: 942px;
}
.footer{
	width: 100%;
	height: 100%;
}
a{
	color: white;
	text-decoration: none;
	margin: 0 5px;
}
.menu>li{
	display: inline-block;
	height: 20px;
	background-color: #222931; 
}
.uitklap-menu{
	display: none;
	list-style-type: none; 
	padding: 0;
	position: absolute;
	top: 19px;
	left: 0;
}
.uitklap-menu>li{
	border: 1px solid #222931;
	width: 110px;
	height: 25px;
}
.uitklap-item:hover > .uitklap-menu{
	background-color: #222931;
	display: block;
}
.uitklap-item{
	position: relative;
}
.uitklap-menu>li:hover{
	background-color: #ffe718;
}
.menu>li:hover{
	background-color: #ffe718;
}
.uitklap-menu>li:hover > .uitklap-menu>li>a{
		color: #222931;
}
.menu>li:hover > .menu>li>a{
		color: #222931;
}
.banner1:hover{
	opacity: 0.5;
}